*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
nav,header,main{
    max-width: 1440px;
    margin: 0 auto;
}
.h-bar{
    background: rgba(18, 18, 18, 0.10);
}